.container {
  color: #333;
  .itemTitle {
    padding: 24px 4px;
    margin-left: 30px;
    font-size: 32px;
  }
  .item {
    padding: 24px 32px;
    background: #ffffff;
    margin: 30px;
    position: relative;
    font-size: 28px;
  
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.1);
    &::after {
      display: block;
      content: '';
      position: absolute;
      top: 50%;
      right: 32px;
      width: 32px;
      height: 32px;
      transform: translateY(-50%) rotate(180deg);
      background: url(../../../../../assets/icon-back.png) no-repeat;
      background-size: 32px 32px;
    }
  }

  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    image {
      width: 128px;
      height: 128px;
      flex-shrink: 0;
    }
    .info {
      padding-left: 40px;
      color: #555;
      font-size: 24px;
    }
  }
}