.fish-tabs {
  width: 100%;
  overflow: hidden;

  &__item {
    height: 100%;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    color: #999999;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-flex;
    padding-left: 32px;
    padding-right: 32px;
    transition: color 0.3s ease-in-out;

    &-underline {
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 4px;
      border-radius: 12px;
      transform: translateX(-50%);
      transition: width 0.3s, transform 0.3s;
      background-color: #7468F2;
    }

    &-text {
      white-space: nowrap;
    }

    &--active {
      color: #333333;
    }
  }

  &__scroll-view {
    position: relative;
    width: 100%;
    background-color: #ffffff;
    box-sizing: border-box;
    overflow: -moz-scrollbars-none;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      color: transparent;
      display: none;
    }
  }

  &__header {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    height: 88px; // default height
  }

  &__scrollable {
    .fish-tabs__header {
      justify-content: flex-start;
      width: max-content;
    }
  }
}