.fish-navbar {
  position: relative;
  box-sizing: border-box;
  flex-shrink: 0;
  &__fixed {
    position: fixed;
    z-index: 998;
    left: 0;
    right: 0;

    .fish-navbar__header {
      position: fixed;
    }
  }
  &__header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    // border-bottom: 1PX solid #eee;
    &-left {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-wrap {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      max-width: 360px;
      overflow: hidden;
      text-overflow: ellipsis;
      text{
        font-size: 36px;
        font-weight: 500;
        line-height: 36px;
        white-space: nowrap;
      }
    }
  }

  &__icon {
    width: 48px;
    height: 48px;
  }

 &__goback {
    height: 100%;
    padding-left: 32px;
    padding-right: 64px;
    display: flex;
    align-items: center;
  }

  &__placeholder {
    width: 100%;
  }
}