.container {
  background-color: #FFF;
  height: 100vh;
  font-family: PingFang SC, Microsoft YaHei, Helvetica, Hiragino Sans GB, SimSun, sans-serif;
  :global(.fish-tabs) {
    margin-bottom: 100px;
  }
  .item {
    padding: 20px;
    border-top: 1px solid #eee;
    &:last-of-type {
      border-bottom: 1px solid #eee;
    }
  }

  .title {
    font-size: 32px;
    margin-bottom: 12px;
  }
  .footer {
    display: flex;
    button {
      font-size: 28px;
    }
  }
}