.container {
  background-color: #FFF;
  height: 100vh;
  font-family: PingFang SC, Microsoft YaHei, Helvetica, Hiragino Sans GB, SimSun, sans-serif;
 
  taro-button-core {
    margin: 0 8px;
  }

  .item {
    padding: 20px;
    border-top: 1px solid #eee;
    &:last-of-type {
      border-bottom: 1px solid #eee;
    }
  }

  .title {
    padding: 0 20px;
    font-size: 32px;
    margin-bottom: 24px;
    margin-top: 100px;
    text {
      font-size: 24px;
      color: #aaa;
    }
  }
  .footer {
    display: flex;
    padding: 0 20px;
    margin-top: 60px;
    button {
      font-size: 24px;
      color: #ffffff;
      border: none;
      padding: 4px 16px;
      &:nth-of-type(1) {
        background: linear-gradient(135deg,#fa2c19 0%,#fa6419 100%);
      }
      &:nth-of-type(2) {
        background: linear-gradient(315deg,rgb(73,143,242) 0%,rgb(73,101,242) 100%);
      }
      &:nth-of-type(3) {
        background: linear-gradient(135deg,rgb(255,158,13) 0%,rgb(255,167,13) 45%,rgb(255,182,13) 83%,rgb(255,190,13) 100%);
      }
      &:nth-of-type(4) {
        background: linear-gradient(135deg,rgb(38,191,38) 0%,rgb(39,197,48) 45%,rgb(40,207,63) 83%,rgb(41,212,70) 100%);
      }
    }
  }
}